---
title: LUV YA TAY :)
eleventyNavigation:
  key: pics with dates/titles
  order: 2
layout: main.njk
permalink: "/gallery/"
meta_desc: 
url:
img: /images/highway-water.jpg
alt: 
cardType: summary_large_image
---

{% include "partials/feature-gallery.njk" %}