---
eleventyNavigation:
  key: just pics
  order: 0
heading: LUV YA :)
description: 
layout: main.njk
title: 
meta_desc: 
url: 
img: 
alt: 
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}