{% set navigation = collections.all | eleventyNavigation %}
<header class="top-nav">
    <div class="intro">
        <div>
            <a class="home-button" href="/">LUV YA :) </a>
            <p class="home-about"></p>
        </div>
    </div>
    <nav class="nav-main">
        <ul class="nav-list">
            <li><a href="/" class="link">pics</a></li>
  
            <li><a href="/gallery/" class="link">gridview</a></li>
  
            <li>
              <a href="/gallery/bruh" class="link">clickthrough</a>
            </li>
  
            <li><a href="/countdown/" class="link">COUNTDOWN</a></li>
        </ul>
    </nav>
</header>